<div class="sketches-container">
  <h2 class="sketches-h2">Sketches</h2>
  <p class="back">
    <%= link_to "Back", "/", class: "back"%>
  </p>

  <div class="single-sketch-div orchid-div">
    <%= image_tag "orchid-sketch.jpg", class: "single-sketch-pic" %>
  </div>
  <div class="single-sketch-div mandala-div">
    <%= image_tag "Mandala-2.jpg", class: "single-sketch-pic" %>
  </div>
  <div class="single-sketch-div guitar-div">
    <%= image_tag "guitar-sketch.jpg", class: "single-sketch-pic" %>
  </div>
  <div class="single-sketch-div thunder-club-div">
    <%= image_tag "thunder-club-album.jpg", class: "single-sketch-pic" %>
  </div>
  <div class="single-sketch-div chimp-div">
    <%= image_tag "chimp-sketch.jpg", class: "single-sketch-pic" %>
  </div>
  <div class="single-sketch-div car-div">
    <%= image_tag "car-sketch.jpg", class: "single-sketch-pic" %>
  </div>
</div>
